<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор изображений</title>
    <style>
       
        body{
            background-color: rgb(92, 92, 92);
        }
    </style>
</head>
<body>
    <h1 style="color: white;">Генератор изображений</h1>
    <form action="/generate" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Заголовок" required>
        <input type="text" name="description" placeholder="Описание" required>
        <input type="file" name="image" accept=".jpg, .jpeg, .png" required>
        <button type="submit">Сгенерировать изображение</button>
    </form>

    <% if (imageUrl) { %>
        <h2 style="color: white;"">Сгенерированное изображение:</h2>
        <img style="width: 512px; height: 512px;" src="<%= imageUrl %>" alt="Сгенерированное изображение">
        <a href="<%= imageUrl %>" download="generated_image.png"><button>Скачать изображение</button></a>
      <% } %>
</body>
</html>